/**
 * Calendar
 */

$calendar-unit:  clamp(48px, 10vw, 96px);

.calendar {
  width: min(100%, 45rem);
  margin: 3rem auto;
  padding-block-end: 1.5rem;

  &.is-editMode {
    background: rgba(128, 255, 255, .3);
  }

  &__mode {
    margin-block-end: 1rem;
    text-align: right;

    label {
      font-size: 0.875rem;
    }

    input {
      width: 6rem;
      height: 1.5rem;
      margin-inline-start: 0.5rem;
    }
  }

  &__control {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-block-end: 0.75rem;
  }

  &__prev, &__next {
    display: block;
    width: 6rem;
    font-size: 0.875rem;
    text-align: center;
  }

  &__wrap {
    width: min(100%, 45rem);
    margin: 0 auto;
    overflow: auto;
  }

  &__view {
    width: calc(#{$calendar-unit} * 7);
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0 auto;

    tr {
      border-block-end: 1px solid #999999;

      &:first-child {
        border-block-start: 1px solid #999999;
      }
    }

    th, td {
      width: $calendar-unit;
      height: calc(#{$calendar-unit} * 5 / 8);
      border-inline-end: 1px solid #999999;
      text-align: center;

      &:first-child {
        border-inline-start: 1px solid #999999;
      }
    }

    td {
      &.is-holiday {
        color: red;
      }
      
      &[data-state="0"] {
        background: rgba(255, 128, 128, .5);
      }
    
      &[data-state="1"] {
        background: rgba(255, 255, 128, .5);
      }
    
      &[data-state="2"] {
        background: rgba(128, 255, 128, .5);
      }
    }
  }

  &:not(.is-startOnMon) {
    th, td {
      &:first-child {
        color: red;
      }
    
      &:last-child {
        color: blue;
      }
    }
  }

  &.is-startOnMon {
    th, td {
      &:nth-child(7) {
        color: red;
      }
    
      &:nth-child(6) {
        color: blue;
      }
    }
  }

  &__status {
    list-style: none;
    display: flex;
    margin: 0.75rem auto;
    padding: 0 4vw;
  }

  &__state {
    flex: auto;
    height: 1.5rem;
    margin: 0;
    padding-inline-start: 0.375rem;
    border-inline-start-style: solid;
    border-inline-start-width: 1.5rem;
    font-size: 0.875rem;

    &.is-state-0 {
      border-color: rgba(255, 128, 128, .5);
    }

    &.is-state-1 {
      border-color: rgba(255, 255, 128, .5);
    }

    &.is-state-2 {
      border-color: rgba(128, 255, 128, .5);
    }
  }
}
