/**
 * Layout - Header
 */

 $header-height: 4.5rem;

 .header {
   position: fixed;
   top: 0;
   left: 0;
   z-index: 990;
   width: 100%;
   height: $header-height;
 
   &__inner {
     height: 100%;
     background-color: $body-bg;
   }
 
   &__container {
     @include container();
     height: 100%;
   }
 }
 
