/**
 * Project - Section
 */

.section {
  &__inner {
    padding-block: space("large");

    :where(&) {
      background-color: $body-bg;
    }

    // Test Responsive Color
    :where(.section:nth-child(even) &) {
      @include background("darker");
    }
  }

  &__heading {
    margin: space("medium") 0;
    text-align: center;
    text-transform: capitalize;
  }

  &__container {
    padding-block-start: space();
    padding-block-end: space();

    &:not(.is-md) {
      @include container();
    }

    &.is-md {
      @include container("md");
    }
  }

  &__textBox {
    width: min(100%, 45rem);
    margin: 3rem auto;
    padding: 0 1.5rem;
  }

  &__table {
    @include fluid-table(54rem);

    tbody tr:hover {
      background-color: rgba(255, 255, 255, 0.15);
    }
  }

  #access & {
    &__inner {
      padding-block-end: 0;
    }

    &__heading {
      margin-block-end: space("large");
    }
  }

  #contact & {
    &__inner {
      padding-block-start: space("large");
    }

    &__heading {
      margin-block-end: space("large");
    }
  }
}
